* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html,
.page {
  height: 100%;
}
.page {
  display: flex;
  flex-direction: column;
}
.head {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
  padding: 20px 20px 0px;
}
.head img {
  height: 25px;
  width: 25px;
}
.nav-bar {
  width: 100%;
  height: 72px;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar div {
  height: 40px;
  width: 40px;
  background-color: #f6f6f9;
}
.nav-bar input {
  height: 40px;
  width: calc(100% - 80px);
  background-color: #f6f6f9;
  font-size: 15px;
  outline: none;
  border: none;
}
.input-before {
  border-radius: 20px 0px 0px 20px;
  background-image: url(../imgs/search.png);
  background-position: 15px 10px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}
.input-after {
  border-radius: 0px 20px 20px 0px;
}
/* ---------------------------------------------------- */
.fix {
  /* 此处要生效，page 一定要 flex */
  overflow: scroll;
}
nav {
  padding: 0px 20px 0px 20px;
}
main nav ul {
  font-size: 14px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  color: #b2b4b8;
  font-family: "Microsoft YaHei,sans-serif";
  padding-bottom: 10px;
}
main nav ul:nth-child(2) {
  border-bottom: 1px solid #b2b4b8;
  margin-bottom: 20px;
}
main nav ul li {
  flex: 1;
}
main nav ul:nth-child(1) li:nth-child(1) {
  color: #0097ff;
}
/* ------------------------------------------------------- */
.content {
  display: flex;
  flex-direction: column;
}
.rank {
  display: flex;
  padding-bottom: 20px;
}
.no {
  width: 40px;
  text-align: center;
  line-height: 93px;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}
.cover {
  width: 64px;
  height: 93px;
}
.msg {
  flex: 1;
  padding-left: 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.title {
  font-size: 17px;
  color: #333;
  font-weight: 600;

  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.author {
  font-size: 14px;
  color: #b2b4b8;
  /* 超过一行用 ... 代替 */
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.rating-tag {
  display: flex;
  align-items: center;
}
.rating {
  font-size: 14px;
  color: #b2b4b8;
}
.rating-tag > img {
  margin-left: 5px;
  width: 73px;
  height: 20px;
}
.outer-reading-count {
  margin: 0px 20px 0px 16px;
}
.reading-count {
  display: flex;
  align-items: center;
  font-size: 10px;
  color: #76787c;
  padding: 2px 8px;
  background-color: #eee;
  border-radius: 10px;
  margin-top: 5px;
}
.reading-count > img {
  width: 14px;
  height: 14px;
}
